/* Fonts */

@font-face {
    font-family: 'amble';
    src: url('../fonts/Amble-Regular.eot');
    src:url('../fonts/Amble-Regular.ttf') format('truetype'), url('../fonts/Amble-Regular.woff') format('woff');
}

@font-face {
    font-family: 'amble_bold';
    src: url('../fonts/Amble-Bold.eot');
    src:url('../fonts/Amble-Bold.ttf') format('truetype'), url('../fonts/Amble-Bold.woff') format('woff');
}

@font-face {
    font-family: 'amble_italic';
    src: url('../fonts/Amble-Italic.eot');
    src:url('../fonts/Amble-Italic.ttf') format('truetype'), url('../fonts/Amble-Italic.woff') format('woff');
}

@font-face {
    font-family: 'amble_light';
    src: url('../fonts/Amble-Light.eot');
    src:url('../fonts/Amble-Light.ttf') format('truetype'), url('../fonts/Amble-Light.woff') format('woff');
}

/* End Fonts */

/* Box Model Override */
html {
    box-sizing: border-box;
    font-family: amble, calibri, trebuchet ms, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* End Box Model Override */

/* Header */
header {
    width: 100%;
    margin: auto;
    background-image: url(../img/pinkchevron.png);
}

#logo img, #photo img {
    width: 100%;
    margin-top: 3%;
    padding: 5% 5% 0 5%;
}

#description {
    padding: 0 7% 2% 7%;
    text-align: justify;
    text-justify: inter-word;
}

nav h1 {
    display: none;
}

.menu {
    z-index: 100;
    width: 100%;
    background-color: #422360;
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: amble_bold, calibri, trebuchet ms, sans-serif;
    padding: 2%;
    float: left;
    width: 50%;
    text-align: center;
}

.menu a:hover {
    background-color: #b42179;
}

/* End Header */

/* Body Content */

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #b42179;
    text-shadow: -1px 0px 2px #B4A7C0;
}

ul {
    list-style-image: url(../img/trianglebullet.png);
}

.education, .work, .skills, .achievements, .get_in_touch {
    padding: 7%;
}

.education {
    background-color: #FCE7EE;
}

.education section {
    background-image: url(../img/education_icon_web.png);

}

.work {
    background-color: #F4D1E1;
}

.work section {
    background-image: url(../img/work_icon.png);
}

.skills {
    background-color: #ECBBD4;
}

.skills section {
    background-image: url(../img/skills_icon_web.png);
}

.achievements {
    background-color: #E4A5C7;
}

.achievements section {
    background-image: url(../img/achievements_icon_web.png);
}

.get_in_touch {
    background-color: #480f31;
}

.get_in_touch h1 {
    color: #ECBBD4;
}

.get_in_touch p {
    color: white;
}

.get_in_touch p a {
    color: white;
    text-decoration: none;
}

.get_in_touch p a:hover {
    color: pink;
    -webkit-transition: color 0.75s;
    -moz-transition: color 0.75s;
    -o-transition: color 0.75s;
    text-decoration: none;
}

.get_in_touch section {
    background-image: url(../img/contact_icon_web.png);
    height: 200px;
}

.education section, .work section, .skills section, .achievements section, .get_in_touch section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.social_icons {
    background-color: #422360;
    width: 13%;
    padding-top: 7%;
    margin-left: 3%;
    float: left;
    border-radius: 7px;
}

.social_icons:hover {
    background-color: #B42179;
    -webkit-transition: background-color 0.75s;
    -moz-transition: background-color 0.75s;
    -o-transition: background-color 0.75s;
}

#facebook, #linkedin, #pinterest, #youtube, #instagram, #twitter {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#facebook {
    background-image: url(../img/facebook.png);
    margin-left: 0;
}

#instagram {
    background-image: url(../img/instagram.png);
}

#linkedin {
    background-image: url(../img/linkedin.png);
}

#twitter {
    background-image: url(../img/twitter.png);
}

#youtube {
    background-image: url(../img/youtube.png);
}

#pinterest {
    background-image: url(../img/pinterest.png);
}


/* End Body Content */

/* Tab style */
#scrollUp {
    bottom: 0;
    right: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px amble, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #d3d3d3;
    color: #ffffff;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top, #DC8FBA, #F4D1E1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DC8FBA), to(#F4D1E1));
    background-image: -webkit-linear-gradient(top, #DC8FBA, #F4D1E1);
    background-image: -o-linear-gradient(top, #DC8FBA, #F4D1E1);
    background-image: linear-gradient(to bottom, #DC8FBA, #F4D1E1);
    background-repeat: repeat-x;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}